# === [컴파일 결과물] ===
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.obj
*.log
*.tmp

# === [Visual Studio 관련] ===
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/

# === [NuGet] ===
packages/
*.nupkg

# === [운영체제] ===
.DS_Store
Thumbs.db

# === [JetBrains Rider] ===
.idea/
*.sln.iml

# === [ File ]
GenPackets.bat